.custom-notify {
  position: fixed;
  bottom: 1rem;
  right: 50%;
  margin-right: -12rem;
  width: 24rem;
  overflow: auto;
  border-radius: .5rem;
  background-color: white;
  color: white;
  text-align: center;
  box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
  z-index: 10;
  font-weight: 600;
}

.custom-notify .callout {
  position: relative;
  overflow: hidden;
  padding: 0.75rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: .5rem;
}

.custom-notify .error {
  background-color: #DC2626;
}

.custom-notify .success {
  color: #059669;
  background-color: #05966933;
  border: 2px solid #059669;
}

.custom-notify .close {
  display: none;
}
