{{page-title "QoL Bar Utils"}}
<EmberNotify @defaultClass="custom-notify" />

<div class="bg-gray-100 h-screen overflow-auto">
  <div class="bg-indigo-600 pb-32">
    <nav class="bg-indigo-600">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16 px-4 sm:px-0">
          <div class="flex items-center space-x-2">
            <LinkTo
              @route="to-json"
              @activeClass="bg-indigo-700 text-white"
              class="text-white hover:bg-indigo-500  hover:bg-opacity-75 px-3 py-2 rounded-md text-sm font-medium"
            >
              to JSON
            </LinkTo>

            <LinkTo
              @route="from-json"
              @activeClass="bg-indigo-700 text-white"
              class="text-white hover:bg-indigo-500  hover:bg-opacity-75 px-3 py-2 rounded-md text-sm font-medium"
            >
              from JSON
            </LinkTo>

            <LinkTo
              @route="from-schema"
              @activeClass="bg-indigo-700 text-white"
              class="text-white hover:bg-indigo-500  hover:bg-opacity-75 px-3 py-2 rounded-md text-sm font-medium"
            >
              from Schema
            </LinkTo>
          </div>
          <div>
            <a
              href="https://github.com/22a/qol-bar-utils"
              target="_blank"
              title="GitHub link"
              rel="noopener noreferrer"
              class="flex items-center justify-center w-8 h-8 text-white hover:bg-indigo-500 hover:bg-opacity-75 rounded-md text-sm font-medium"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <main class="-mt-32">
    <div class="max-w-7xl mx-auto pb-8 px-4 sm:px-6 lg:px-8">
      <div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
        {{outlet}}
      </div>
    </div>
  </main>
</div>